<%# <h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p> %>

<% if flash[:message] %>
  <h3 style="color: red"><%= flash[:message]%></h3>
<% end %>

<h1>Post Create Form</h1>

<%= form_for @post do |f| %>
    
    <label>Name:</label><br>
    <%= f.text_field :title %><br>

    <label>Bio:</label><br>
    <%= f.text_area :content %><br>

    <label>Likes:</label><br>
    <%= f.number_field :likes %><br>

    <label>Destination:</label><br>
    <%= f.collection_select :destination_id, Destination.all, :id, :name%><br>

    <label>Blogger:</label><br>
    <%= f.collection_select :blogger_id, Blogger.all, :id, :name%><br>

    <%= f.submit "Create Post" %>

<% end %>